@{
    ViewData["Title"] = "Informacion Escuela";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h1>Escuela</h1>
<h2>Nombre:</h2>
<p><strong>Año Fundación: 1971</strong></p>
